.container {
	max-width: 1100px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}



* {
	-moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
	-o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
	-webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
	transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
